@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap';
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

html {
  height: 100%;
}

body {
  height: 100%;
}

#root {
  height: 100%;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.app {
  height: 100%;

}

.app__wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.app__content-wrapper {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.app__content {
  width: 100%;
  padding: 0px 20px 24px;
  font-family: 'Lato';
  background-color: #d6d6d6;
}

.page-information {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
    padding: 18px 25px 15px;
    background-color: white;
    border-bottom: 2px solid turquoise;
    /* border-left: 2px solid turquoise; */
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.page-information > h1 {
    font-size: 16px;
    letter-spacing: .5px;
    color: #061c3f;
}

.page-information > span {
    font-size: 12px;
    color: #a4a7b5;
}