.landing {
    height: 100%;
    width: 100%;
}

.landing__background-image {
    height: 550px;
    width: 100%;
    background-image: url('../../assets/background-restaurant.jpg');
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}

.landing__background-image-overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: white;
}