.global-header {
    height: 65px;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: row;
    padding-top: 4px;
    padding-bottom: 10px;
    border-bottom: 3px solid #00c0ff
}

.global-header__left, .global-header__right {
    display: flex;
    flex-direction: row;
    width: 50%;
}

.global-header__right {
    justify-content: flex-end;
}

.global-header__left > h1 {
    font-size: 33px;
    padding: 0 24px;
    color: black;
}

.global-header__button-group {
    padding: 0 36px;
}

.global-header__sign-in {
    position: relative;
    top: 8px;
}